[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chardet = "*"
pyyaml = "*"
python-dotenv = "*"
tabulate = "*"
sqlalchemy = "==1.4"
pyqt5 = "*"
pycryptodome = "*"
pylint = "*"
sphinx = "*"

[dev-packages]

[requires]
python_version = "3.11"
